@{
    ViewBag.Title = "showChart";
}

<div id="page">
    <div id="content">
        <div class="box">

        </div>
        <h2>Porcentaje de Reportes Por Situaci&oacute;n</h2>
        <div id="chart_div"></div>
        @using (Html.BeginForm())
        {
            <p>
                Sector: @Html.DropDownList("sectorFilter", "All")
                <br />
                Mes1: @Html.DropDownList("monthFilter1", "All")
                Mes2: @Html.DropDownList("monthFilter2", "All")
                Year1: @Html.DropDownList("yearFilter1")
                Year2: @Html.DropDownList("yearFilter2")
                <input type="submit" class="btn btn-default dropdown-toggle" value="Filter" />
            </p>
        }
        <br class="clearfix" />
    </div>

    <br class="clearfix" />
</div>


@section scripts{
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        //google.setOnLoadCallback(drawChart);
        var datos;
        $.ajax({
            url: '@Url.Action("showchart2","reportes")',
            type: 'GET',
            success: function (result) {
                if (result) {
                    datos = result;
                }
            },
            complete: function (result) {
                drawChart(datos);
            }
        });

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart(datos) {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Situacion');
            data.addColumn('number', 'Cantidad');
            var contador = 0

            datos.forEach(function (entry) {
                data.addRows(6);
                data.setCell(contador, 0, entry.situacion);
                data.setCell(contador, 1, entry.cantidad);

                contador = contador + 1;

            });


            //data.addRows(6);
            //data.setCell(0,0,'Onions');
            //data.setCell(0, 1, 1);

            //data.addRows(6);
            //data.setCell(1, 0, 'Olives');
            //data.setCell(1, 1, 2);

            //data.addRows([
            //  [datos.situacion, datos.cantidad],
            //  ['Onions', 1],
            //  ['Olives', 1],
            //  ['Zucchini', 1],
            //  ['Pepperoni', 2]
            //]);

            // Set chart options
            var options = {
                'title': 'Cantidad de Reportes por situacion',
                'width': 400,
                'height': 300,
                is3D: true
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }

    </script>
}