@model IEnumerable<AwareswebApp.Models.HistDetConsumoViewModel>
@{
    ViewBag.Title = "ConsumosDetPorMes";
}


<div id="page">
    <div id="content">
        <div class="box">

        </div>

        <h3>Consumos Detallados Por Mes</h3>
        <br />

        @using (Html.BeginForm())
        {
            <p>
                Colaborador: @Html.DropDownList("colabFilter", "All")
                Year: @Html.DropDownList("yearFilter")
                <input type="submit" class="btn btn-default dropdown-toggle" value="Filter" />
            </p>
        }

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("usuario")
                </th>
                <th> @Html.DisplayName("Mes") </th>
                <th>
                    @Html.DisplayName("Total Consumo")
                </th>
                
                <th></th>
            </tr>

            @foreach (var item in ViewBag.consumos)
            {
               <tr>
                   <td>

                       @item.UsernameColaborador
                    </td>
                    <td>

                        @item.month
                    </td>
                    <td>
                        @item.lectura
                    </td>
                    
                </tr>
            }

        </table>

        <br class="clearfix" />
    </div>

    <br class="clearfix" />
</div>
